form#formulario01 {
    margin:auto;
    background: Green;
    color: white;
    font-size: 20px;
    padding: 30px;
    width: 400px;
    border:solid 10px LightSteelBlue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    }
    
    form#pago fieldset {
    border: none;
    }
    
    form input{
    font-size:12px;
    background: yellow;
    border:solid 1px Green;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    float: right;
    margin-right: 5px;
    width: 200px;
    }


   

    
    